.navbar-fixed-top{
  margin-bottom: 19px;
}


/*стили для заголовка на страницах администрирования*/
.admin-header-table
{
  padding: 0px;
  margin: 0px;
}

.admin-header-table td
{
  vertical-align: middle;
}

.admin-header-table td:nth-of-type(2)
{
  padding-left: 10px;
}

.admin-header-table .glyphicon
{
  cursor: pointer;
}
